<div class="container-fluid">
<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#uppermenu">
        <i class="fa fa-bars"></i>   
</button>

<div class="collapse navbar-collapse" id="uppermenu">
    
    <ul id="upper-nav-list" class="navbar-nav nav nav-fill">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="wargames.html">Wargames</a></li>
        <li class="nav-item"><a class="nav-link" href="warzone.html">Warzone</a></li>
        <li class="nav-item"><a class="nav-link" href="resources.html">Resources</a></li>
        <li class="nav-item"><a class="nav-link" href="notepad.html">Notepad</a></li>
        <li class="nav-item sign"><a class="nav-link" href="login.html">Sign In</a></li>
    </ul>
</div>
</div>
