<div class="container-fluid">
<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#uppermenu">
        <i class="fa fa-bars"></i>   
</button>

<div class="collapse navbar-collapse" id="uppermenu">
    
    <ul id="upper-nav-list" class="navbar-nav nav nav-fill">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="wargames.html">Wargames</a>
            <div class="dropdown-content">
                <a class="nav-link" href="bandit.html">Bandit</a>
                <a class="nav-link" href="natas.html">Natas</a>
                <a class="nav-link" href="leviathan.html">Leviathan</a>
                <a class="nav-link" href="krypton.html">Krypton</a>
                <a class="nav-link" href="narnia.html">Narnia</a>
                <a class="nav-link" href="behemoth.html">Behemoth</a>
                <a class="nav-link" href="utumno.html">Utumno</a>
                <a class="nav-link" href="maze.html">Maze</a>
                <a class="nav-link" href="hes2010.html">HES2010</a>
                <a class="nav-link" href="abraxas.html">Abraxas</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="warzone.html">Warzone</a>
            <div class="dropdown-content">
                <a href="tsutomu.html">Tsutomu</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="resources.html">Resources</a></li>
        <li class="nav-item"><a class="nav-link" href="notepad.html">Notepad</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
        <li class="nav-item sign"><a class="nav-link" href="login.html">Sign In</a></li>
    </ul>
</div>
</div>
